@use "../mixins/constractions-list" as *;
@use "../variables/colors";

.constractions-list-head-container {
    @include constractions-list();

    border-start-end-radius: 0.5rem;
    border-start-start-radius: 0.5rem;
    background-color: colors.$white;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}