div.home-page-container {
    $side-size: minmax(0.5rem, 1fr);

    display: grid;
    grid-template-columns: $side-size minmax(auto, 360px) $side-size;

    .content-container {
        grid-column: 2/3;
    }
}